body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1083px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1181_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1033px;
  height:1101px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1181 {
  position:absolute;
  left:50px;
  top:302px;
  width:1033px;
  height:1101px;
}
#u1182 {
  position:absolute;
  left:2px;
  top:542px;
  width:1029px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1184_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:520px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1184 {
  position:absolute;
  left:60px;
  top:849px;
  width:110px;
  height:520px;
}
#u1185 {
  position:absolute;
  left:2px;
  top:252px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1186 {
  position:absolute;
  left:61px;
  top:889px;
  width:108px;
  height:160px;
}
#u1186_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:114px;
  height:166px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1187 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:165px;
}
#u1188_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u1188 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u1189 {
  position:absolute;
  left:2px;
  top:14px;
  width:104px;
  word-wrap:break-word;
}
#u1190_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u1190 {
  position:absolute;
  left:0px;
  top:40px;
  width:108px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u1191 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u1192_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u1192 {
  position:absolute;
  left:0px;
  top:80px;
  width:108px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u1193 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u1194_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u1194 {
  position:absolute;
  left:0px;
  top:120px;
  width:108px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u1195 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u1196_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:40px;
  background:inherit;
  background-color:rgba(70, 150, 231, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1196 {
  position:absolute;
  left:169px;
  top:849px;
  width:900px;
  height:40px;
}
#u1197 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1198 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1199_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1199 {
  position:absolute;
  left:951px;
  top:853px;
  width:111px;
  height:34px;
  color:#FFFFFF;
}
#u1200 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u1201_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u1201 {
  position:absolute;
  left:1036px;
  top:865px;
  width:14px;
  height:10px;
}
#u1202 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1203_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1203 {
  position:absolute;
  left:962px;
  top:862px;
  width:14px;
  height:16px;
}
#u1204 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1205_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1205 {
  position:absolute;
  left:61px;
  top:850px;
  width:108px;
  height:40px;
}
#u1206 {
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1207_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u1207 {
  position:absolute;
  left:75px;
  top:858px;
  width:39px;
  height:18px;
  color:#303133;
}
#u1208 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1209_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1209 {
  position:absolute;
  left:169px;
  top:889px;
  width:900px;
  height:480px;
}
#u1210 {
  position:absolute;
  left:2px;
  top:232px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1212_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:520px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1212 {
  position:absolute;
  left:60px;
  top:312px;
  width:110px;
  height:520px;
}
#u1213 {
  position:absolute;
  left:2px;
  top:252px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1214 {
  position:absolute;
  left:61px;
  top:352px;
  width:108px;
  height:160px;
}
#u1214_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:114px;
  height:166px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u1215 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:165px;
}
#u1216_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u1216 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u1217 {
  position:absolute;
  left:2px;
  top:14px;
  width:104px;
  word-wrap:break-word;
}
#u1218_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u1218 {
  position:absolute;
  left:0px;
  top:40px;
  width:108px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u1219 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u1220_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u1220 {
  position:absolute;
  left:0px;
  top:80px;
  width:108px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u1221 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u1222_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u1222 {
  position:absolute;
  left:0px;
  top:120px;
  width:108px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u1223 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u1224_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:40px;
  background:inherit;
  background-color:rgba(70, 150, 231, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1224 {
  position:absolute;
  left:169px;
  top:312px;
  width:900px;
  height:40px;
}
#u1225 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1226 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1227_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1227 {
  position:absolute;
  left:951px;
  top:316px;
  width:111px;
  height:34px;
  color:#FFFFFF;
}
#u1228 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u1229_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u1229 {
  position:absolute;
  left:1036px;
  top:328px;
  width:14px;
  height:10px;
}
#u1230 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1231_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u1231 {
  position:absolute;
  left:962px;
  top:325px;
  width:14px;
  height:16px;
}
#u1232 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1233_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1233 {
  position:absolute;
  left:61px;
  top:313px;
  width:108px;
  height:40px;
}
#u1234 {
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1235_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u1235 {
  position:absolute;
  left:75px;
  top:321px;
  width:39px;
  height:18px;
  color:#303133;
}
#u1236 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u1237_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u1237 {
  position:absolute;
  left:169px;
  top:352px;
  width:900px;
  height:480px;
}
#u1238 {
  position:absolute;
  left:2px;
  top:232px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1239_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1239 {
  position:absolute;
  left:50px;
  top:10px;
  width:335px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u1240 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u1241_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:211px;
}
#u1241 {
  position:absolute;
  left:50px;
  top:70px;
  width:1000px;
  height:211px;
  text-align:left;
}
#u1242 {
  position:absolute;
  left:20px;
  top:20px;
  width:960px;
  word-wrap:break-word;
}
#u1243_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1243 {
  position:absolute;
  left:50px;
  top:1428px;
  width:73px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1244 {
  position:absolute;
  left:2px;
  top:11px;
  width:69px;
  word-wrap:break-word;
}
#u1245_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1245 {
  position:absolute;
  left:123px;
  top:1428px;
  width:235px;
  height:40px;
  color:#FFFFFF;
}
#u1246 {
  position:absolute;
  left:2px;
  top:11px;
  width:231px;
  word-wrap:break-word;
}
#u1247_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1247 {
  position:absolute;
  left:358px;
  top:1428px;
  width:107px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u1248 {
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u1249_div {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u1249 {
  position:absolute;
  left:465px;
  top:1428px;
  width:585px;
  height:40px;
  color:#FFFFFF;
}
#u1250 {
  position:absolute;
  left:2px;
  top:11px;
  width:581px;
  word-wrap:break-word;
}
#u1251_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1251 {
  position:absolute;
  left:50px;
  top:1468px;
  width:73px;
  height:80px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u1252 {
  position:absolute;
  left:2px;
  top:31px;
  width:69px;
  word-wrap:break-word;
}
#u1253_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1253 {
  position:absolute;
  left:123px;
  top:1468px;
  width:235px;
  height:80px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u1254 {
  position:absolute;
  left:2px;
  top:32px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1255_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1255 {
  position:absolute;
  left:358px;
  top:1468px;
  width:107px;
  height:80px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u1256 {
  position:absolute;
  left:2px;
  top:31px;
  width:103px;
  word-wrap:break-word;
}
#u1257_div {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:left;
}
#u1257 {
  position:absolute;
  left:465px;
  top:1468px;
  width:585px;
  height:80px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:left;
}
#u1258 {
  position:absolute;
  left:20px;
  top:32px;
  width:545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1260_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1260 {
  position:absolute;
  left:313px;
  top:392px;
  width:56px;
  height:16px;
  font-size:11px;
}
#u1261 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1262 {
  position:absolute;
  left:369px;
  top:391px;
  width:70px;
  height:18px;
}
#u1262_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1264_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1264 {
  position:absolute;
  left:179px;
  top:392px;
  width:34px;
  height:16px;
  font-size:11px;
}
#u1265 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1266 {
  position:absolute;
  left:223px;
  top:392px;
  width:80px;
  height:17px;
}
#u1266_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
}
#u1266_input:disabled {
  color:grayText;
}
#u1268_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 106, 195, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#F2F2F2;
}
#u1268 {
  position:absolute;
  left:677px;
  top:390px;
  width:53px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#F2F2F2;
}
#u1268_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#F2F2F2;
}
#u1268.mouseOver {
}
#u1269 {
  position:absolute;
  left:15px;
  top:2px;
  width:23px;
  white-space:nowrap;
}
#u1270_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1270 {
  position:absolute;
  left:179px;
  top:438px;
  width:148px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1271 {
  position:absolute;
  left:10px;
  top:7px;
  width:128px;
  word-wrap:break-word;
}
#u1272_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1272 {
  position:absolute;
  left:475px;
  top:438px;
  width:172px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1273 {
  position:absolute;
  left:10px;
  top:7px;
  width:152px;
  word-wrap:break-word;
}
#u1274_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1274 {
  position:absolute;
  left:647px;
  top:438px;
  width:172px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1275 {
  position:absolute;
  left:10px;
  top:7px;
  width:152px;
  word-wrap:break-word;
}
#u1276_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1276 {
  position:absolute;
  left:327px;
  top:438px;
  width:148px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1277 {
  position:absolute;
  left:10px;
  top:7px;
  width:128px;
  word-wrap:break-word;
}
#u1278_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1278 {
  position:absolute;
  left:819px;
  top:438px;
  width:173px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1279 {
  position:absolute;
  left:10px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u1281_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1281 {
  position:absolute;
  left:322px;
  top:941px;
  width:56px;
  height:16px;
  font-size:11px;
}
#u1282 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1283 {
  position:absolute;
  left:378px;
  top:940px;
  width:70px;
  height:18px;
}
#u1283_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u1284_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1284 {
  position:absolute;
  left:188px;
  top:977px;
  width:242px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1285 {
  position:absolute;
  left:10px;
  top:7px;
  width:222px;
  word-wrap:break-word;
}
#u1286_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1286 {
  position:absolute;
  left:430px;
  top:977px;
  width:281px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1287 {
  position:absolute;
  left:10px;
  top:7px;
  width:261px;
  word-wrap:break-word;
}
#u1288_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1288 {
  position:absolute;
  left:711px;
  top:977px;
  width:281px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1289 {
  position:absolute;
  left:10px;
  top:7px;
  width:261px;
  word-wrap:break-word;
}
#u1290_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1290 {
  position:absolute;
  left:179px;
  top:468px;
  width:148px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1291 {
  position:absolute;
  left:10px;
  top:7px;
  width:128px;
  word-wrap:break-word;
}
#u1292_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1292 {
  position:absolute;
  left:475px;
  top:468px;
  width:172px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1293 {
  position:absolute;
  left:10px;
  top:7px;
  width:152px;
  word-wrap:break-word;
}
#u1294_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1294 {
  position:absolute;
  left:647px;
  top:468px;
  width:172px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1295 {
  position:absolute;
  left:10px;
  top:7px;
  width:152px;
  word-wrap:break-word;
}
#u1296_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1296 {
  position:absolute;
  left:327px;
  top:468px;
  width:148px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1297 {
  position:absolute;
  left:10px;
  top:7px;
  width:128px;
  word-wrap:break-word;
}
#u1298_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1298 {
  position:absolute;
  left:819px;
  top:468px;
  width:173px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1299 {
  position:absolute;
  left:10px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u1300_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1300 {
  position:absolute;
  left:430px;
  top:1007px;
  width:281px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1301 {
  position:absolute;
  left:10px;
  top:7px;
  width:261px;
  word-wrap:break-word;
}
#u1302_div {
  position:absolute;
  left:0px;
  top:0px;
  width:281px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1302 {
  position:absolute;
  left:711px;
  top:1007px;
  width:281px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1303 {
  position:absolute;
  left:10px;
  top:7px;
  width:261px;
  word-wrap:break-word;
}
#u1304_div {
  position:absolute;
  left:0px;
  top:0px;
  width:242px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1304 {
  position:absolute;
  left:188px;
  top:1007px;
  width:242px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1305 {
  position:absolute;
  left:10px;
  top:7px;
  width:222px;
  word-wrap:break-word;
}
#u1306_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1306 {
  position:absolute;
  left:177px;
  top:320px;
  width:172px;
  height:24px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u1307 {
  position:absolute;
  left:2px;
  top:2px;
  width:168px;
  white-space:nowrap;
}
#u1308_div {
  position:absolute;
  left:0px;
  top:0px;
  width:144px;
  height:24px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:14px;
}
#u1308 {
  position:absolute;
  left:178px;
  top:900px;
  width:144px;
  height:24px;
  font-size:14px;
}
#u1309 {
  position:absolute;
  left:2px;
  top:2px;
  width:140px;
  white-space:nowrap;
}
#u1310_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1310 {
  position:absolute;
  left:179px;
  top:498px;
  width:148px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1311 {
  position:absolute;
  left:10px;
  top:7px;
  width:128px;
  word-wrap:break-word;
}
#u1312_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1312 {
  position:absolute;
  left:475px;
  top:498px;
  width:172px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1313 {
  position:absolute;
  left:10px;
  top:7px;
  width:152px;
  word-wrap:break-word;
}
#u1314_div {
  position:absolute;
  left:0px;
  top:0px;
  width:172px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1314 {
  position:absolute;
  left:647px;
  top:498px;
  width:172px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1315 {
  position:absolute;
  left:10px;
  top:7px;
  width:152px;
  word-wrap:break-word;
}
#u1316_div {
  position:absolute;
  left:0px;
  top:0px;
  width:148px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1316 {
  position:absolute;
  left:327px;
  top:498px;
  width:148px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1317 {
  position:absolute;
  left:10px;
  top:7px;
  width:128px;
  word-wrap:break-word;
}
#u1318_div {
  position:absolute;
  left:0px;
  top:0px;
  width:173px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1318 {
  position:absolute;
  left:819px;
  top:498px;
  width:173px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u1319 {
  position:absolute;
  left:10px;
  top:7px;
  width:153px;
  word-wrap:break-word;
}
#u1320_div {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1320 {
  position:absolute;
  left:188px;
  top:940px;
  width:34px;
  height:16px;
  font-size:11px;
}
#u1321 {
  position:absolute;
  left:0px;
  top:0px;
  width:34px;
  white-space:nowrap;
}
#u1322 {
  position:absolute;
  left:232px;
  top:940px;
  width:80px;
  height:17px;
}
#u1322_input {
  position:absolute;
  left:0px;
  top:0px;
  width:80px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
}
#u1322_input:disabled {
  color:grayText;
}
#u1324_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1324 {
  position:absolute;
  left:449px;
  top:392px;
  width:56px;
  height:16px;
  font-size:11px;
}
#u1325 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1326 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1327_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#282828;
  text-align:left;
}
#u1327 {
  position:absolute;
  left:509px;
  top:391px;
  width:70px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#282828;
  text-align:left;
}
#u1328 {
  position:absolute;
  left:2px;
  top:1px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1329_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1329 {
  position:absolute;
  left:582px;
  top:392px;
  width:12px;
  height:16px;
  font-size:11px;
}
#u1330 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u1331 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1332_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#282828;
  text-align:left;
}
#u1332 {
  position:absolute;
  left:597px;
  top:391px;
  width:70px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#282828;
  text-align:left;
}
#u1333 {
  position:absolute;
  left:2px;
  top:1px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1335_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 106, 195, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#F2F2F2;
}
#u1335 {
  position:absolute;
  left:686px;
  top:937px;
  width:53px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#F2F2F2;
}
#u1335_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  color:#F2F2F2;
}
#u1335.mouseOver {
}
#u1336 {
  position:absolute;
  left:15px;
  top:2px;
  width:23px;
  white-space:nowrap;
}
#u1338_div {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1338 {
  position:absolute;
  left:458px;
  top:939px;
  width:56px;
  height:16px;
  font-size:11px;
}
#u1339 {
  position:absolute;
  left:0px;
  top:0px;
  width:56px;
  white-space:nowrap;
}
#u1340 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1341_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#282828;
  text-align:left;
}
#u1341 {
  position:absolute;
  left:518px;
  top:938px;
  width:70px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#282828;
  text-align:left;
}
#u1342 {
  position:absolute;
  left:2px;
  top:1px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
#u1343_div {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u1343 {
  position:absolute;
  left:591px;
  top:939px;
  width:12px;
  height:16px;
  font-size:11px;
}
#u1344 {
  position:absolute;
  left:0px;
  top:0px;
  width:12px;
  white-space:nowrap;
}
#u1345 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u1346_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#282828;
  text-align:left;
}
#u1346 {
  position:absolute;
  left:606px;
  top:938px;
  width:70px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#282828;
  text-align:left;
}
#u1347 {
  position:absolute;
  left:2px;
  top:1px;
  width:66px;
  visibility:hidden;
  word-wrap:break-word;
}
