body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1067px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2118_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:548px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2118 {
  position:absolute;
  left:50px;
  top:302px;
  width:1000px;
  height:548px;
}
#u2119 {
  position:absolute;
  left:2px;
  top:266px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2121_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:520px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2121 {
  position:absolute;
  left:58px;
  top:311px;
  width:110px;
  height:520px;
}
#u2122 {
  position:absolute;
  left:2px;
  top:252px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2123 {
  position:absolute;
  left:59px;
  top:351px;
  width:108px;
  height:160px;
}
#u2123_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:114px;
  height:166px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u2124 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:165px;
}
#u2125_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u2125 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u2126 {
  position:absolute;
  left:2px;
  top:14px;
  width:104px;
  word-wrap:break-word;
}
#u2127_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u2127 {
  position:absolute;
  left:0px;
  top:40px;
  width:108px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u2128 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u2129_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u2129 {
  position:absolute;
  left:0px;
  top:80px;
  width:108px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u2130 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u2131_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u2131 {
  position:absolute;
  left:0px;
  top:120px;
  width:108px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u2132 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u2133_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:40px;
  background:inherit;
  background-color:rgba(70, 150, 231, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2133 {
  position:absolute;
  left:167px;
  top:311px;
  width:900px;
  height:40px;
}
#u2134 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2135 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2136_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2136 {
  position:absolute;
  left:949px;
  top:315px;
  width:111px;
  height:34px;
  color:#FFFFFF;
}
#u2137 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u2138_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u2138 {
  position:absolute;
  left:1034px;
  top:327px;
  width:14px;
  height:10px;
}
#u2139 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2140_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u2140 {
  position:absolute;
  left:960px;
  top:324px;
  width:14px;
  height:16px;
}
#u2141 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2142 {
  position:absolute;
  left:59px;
  top:312px;
  width:108px;
  height:40px;
}
#u2143 {
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2144_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u2144 {
  position:absolute;
  left:73px;
  top:320px;
  width:39px;
  height:18px;
  color:#303133;
}
#u2145 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u2146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2146 {
  position:absolute;
  left:167px;
  top:351px;
  width:900px;
  height:480px;
}
#u2147 {
  position:absolute;
  left:2px;
  top:232px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2148_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2148 {
  position:absolute;
  left:50px;
  top:10px;
  width:335px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u2149 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:211px;
}
#u2150 {
  position:absolute;
  left:50px;
  top:70px;
  width:1000px;
  height:211px;
  text-align:left;
}
#u2151 {
  position:absolute;
  left:20px;
  top:20px;
  width:960px;
  word-wrap:break-word;
}
#u2152_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2152 {
  position:absolute;
  left:50px;
  top:860px;
  width:73px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2153 {
  position:absolute;
  left:2px;
  top:11px;
  width:69px;
  word-wrap:break-word;
}
#u2154_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2154 {
  position:absolute;
  left:123px;
  top:860px;
  width:235px;
  height:40px;
  color:#FFFFFF;
}
#u2155 {
  position:absolute;
  left:2px;
  top:11px;
  width:231px;
  word-wrap:break-word;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2156 {
  position:absolute;
  left:358px;
  top:860px;
  width:107px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2157 {
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u2158_div {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u2158 {
  position:absolute;
  left:465px;
  top:860px;
  width:585px;
  height:40px;
  color:#FFFFFF;
}
#u2159 {
  position:absolute;
  left:2px;
  top:11px;
  width:581px;
  word-wrap:break-word;
}
#u2160_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u2160 {
  position:absolute;
  left:50px;
  top:900px;
  width:73px;
  height:80px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u2161 {
  position:absolute;
  left:2px;
  top:31px;
  width:69px;
  word-wrap:break-word;
}
#u2162_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u2162 {
  position:absolute;
  left:123px;
  top:900px;
  width:235px;
  height:80px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u2163 {
  position:absolute;
  left:2px;
  top:32px;
  width:231px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2164 {
  position:absolute;
  left:358px;
  top:900px;
  width:107px;
  height:80px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u2165 {
  position:absolute;
  left:2px;
  top:31px;
  width:103px;
  word-wrap:break-word;
}
#u2166_div {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:left;
}
#u2166 {
  position:absolute;
  left:465px;
  top:900px;
  width:585px;
  height:80px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:left;
}
#u2167 {
  position:absolute;
  left:20px;
  top:32px;
  width:545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2168_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:187px;
}
#u2168 {
  position:absolute;
  left:188px;
  top:434px;
  width:229px;
  height:187px;
}
#u2169 {
  position:absolute;
  left:2px;
  top:86px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2170_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2170 {
  position:absolute;
  left:188px;
  top:588px;
  width:229px;
  height:33px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2171 {
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u2173_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u2173 {
  position:absolute;
  left:346px;
  top:595px;
  width:60px;
  height:20px;
  font-size:11px;
  color:#F2F2F2;
}
#u2174 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u2175_img {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:185px;
}
#u2175 {
  position:absolute;
  left:453px;
  top:436px;
  width:229px;
  height:185px;
}
#u2176 {
  position:absolute;
  left:2px;
  top:84px;
  width:225px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2177_div {
  position:absolute;
  left:0px;
  top:0px;
  width:229px;
  height:33px;
  background:inherit;
  background-color:rgba(161, 161, 161, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2177 {
  position:absolute;
  left:453px;
  top:588px;
  width:229px;
  height:33px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u2178 {
  position:absolute;
  left:2px;
  top:8px;
  width:225px;
  word-wrap:break-word;
}
#u2180_img {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
}
#u2180 {
  position:absolute;
  left:611px;
  top:595px;
  width:60px;
  height:20px;
  font-size:11px;
  color:#F2F2F2;
}
#u2181 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u2182_div {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u2182 {
  position:absolute;
  left:188px;
  top:399px;
  width:71px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u2183 {
  position:absolute;
  left:0px;
  top:0px;
  width:71px;
  white-space:nowrap;
}
#u2184_img {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  height:22px;
}
#u2184 {
  position:absolute;
  left:185px;
  top:361px;
  width:142px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#418CC8;
}
#u2185 {
  position:absolute;
  left:0px;
  top:0px;
  width:142px;
  white-space:nowrap;
}
