body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:1070px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u4878_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:1096px;
  background:inherit;
  background-color:rgba(215, 215, 215, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4878 {
  position:absolute;
  left:50px;
  top:302px;
  width:1000px;
  height:1096px;
}
#u4879 {
  position:absolute;
  left:2px;
  top:540px;
  width:996px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4881_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:520px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4881 {
  position:absolute;
  left:61px;
  top:312px;
  width:110px;
  height:520px;
}
#u4882 {
  position:absolute;
  left:2px;
  top:252px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4883 {
  position:absolute;
  left:62px;
  top:352px;
  width:108px;
  height:160px;
}
#u4883_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:114px;
  height:166px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4884 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:165px;
}
#u4885_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u4885 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u4886 {
  position:absolute;
  left:2px;
  top:14px;
  width:104px;
  word-wrap:break-word;
}
#u4887_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u4887 {
  position:absolute;
  left:0px;
  top:40px;
  width:108px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u4888 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u4889_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u4889 {
  position:absolute;
  left:0px;
  top:80px;
  width:108px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u4890 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u4891_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u4891 {
  position:absolute;
  left:0px;
  top:120px;
  width:108px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u4892 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u4893_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:40px;
  background:inherit;
  background-color:rgba(70, 150, 231, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4893 {
  position:absolute;
  left:170px;
  top:312px;
  width:900px;
  height:40px;
}
#u4894 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4895 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4896_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4896 {
  position:absolute;
  left:952px;
  top:316px;
  width:111px;
  height:34px;
  color:#FFFFFF;
}
#u4897 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u4898_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u4898 {
  position:absolute;
  left:1037px;
  top:328px;
  width:14px;
  height:10px;
}
#u4899 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4900_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u4900 {
  position:absolute;
  left:963px;
  top:325px;
  width:14px;
  height:16px;
}
#u4901 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4902_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4902 {
  position:absolute;
  left:62px;
  top:313px;
  width:108px;
  height:40px;
}
#u4903 {
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4904_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u4904 {
  position:absolute;
  left:76px;
  top:321px;
  width:39px;
  height:18px;
  color:#303133;
}
#u4905 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u4906_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4906 {
  position:absolute;
  left:170px;
  top:352px;
  width:900px;
  height:480px;
}
#u4907 {
  position:absolute;
  left:2px;
  top:232px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4908_div {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u4908 {
  position:absolute;
  left:50px;
  top:10px;
  width:335px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u4909 {
  position:absolute;
  left:0px;
  top:0px;
  width:335px;
  word-wrap:break-word;
}
#u4910_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1000px;
  height:211px;
}
#u4910 {
  position:absolute;
  left:50px;
  top:70px;
  width:1000px;
  height:211px;
  text-align:left;
}
#u4911 {
  position:absolute;
  left:20px;
  top:20px;
  width:960px;
  word-wrap:break-word;
}
#u4912_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4912 {
  position:absolute;
  left:51px;
  top:1408px;
  width:73px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4913 {
  position:absolute;
  left:2px;
  top:11px;
  width:69px;
  word-wrap:break-word;
}
#u4914_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4914 {
  position:absolute;
  left:124px;
  top:1408px;
  width:235px;
  height:40px;
  color:#FFFFFF;
}
#u4915 {
  position:absolute;
  left:2px;
  top:11px;
  width:231px;
  word-wrap:break-word;
}
#u4916_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4916 {
  position:absolute;
  left:359px;
  top:1408px;
  width:107px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FFFFFF;
}
#u4917 {
  position:absolute;
  left:2px;
  top:11px;
  width:103px;
  word-wrap:break-word;
}
#u4918_div {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:40px;
  background:inherit;
  background-color:rgba(0, 0, 0, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4918 {
  position:absolute;
  left:466px;
  top:1408px;
  width:585px;
  height:40px;
  color:#FFFFFF;
}
#u4919 {
  position:absolute;
  left:2px;
  top:11px;
  width:581px;
  word-wrap:break-word;
}
#u4920_div {
  position:absolute;
  left:0px;
  top:0px;
  width:73px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u4920 {
  position:absolute;
  left:51px;
  top:1448px;
  width:73px;
  height:80px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
}
#u4921 {
  position:absolute;
  left:2px;
  top:31px;
  width:69px;
  word-wrap:break-word;
}
#u4922_div {
  position:absolute;
  left:0px;
  top:0px;
  width:235px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4922 {
  position:absolute;
  left:124px;
  top:1448px;
  width:235px;
  height:80px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#1E1E1E;
}
#u4923 {
  position:absolute;
  left:2px;
  top:31px;
  width:231px;
  word-wrap:break-word;
}
#u4924_div {
  position:absolute;
  left:0px;
  top:0px;
  width:107px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4924 {
  position:absolute;
  left:359px;
  top:1448px;
  width:107px;
  height:80px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#000000;
}
#u4925 {
  position:absolute;
  left:2px;
  top:31px;
  width:103px;
  word-wrap:break-word;
}
#u4926_div {
  position:absolute;
  left:0px;
  top:0px;
  width:585px;
  height:80px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:left;
}
#u4926 {
  position:absolute;
  left:466px;
  top:1448px;
  width:585px;
  height:80px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#FF0000;
  text-align:left;
}
#u4927 {
  position:absolute;
  left:20px;
  top:32px;
  width:545px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4928_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:22px;
}
#u4928 {
  position:absolute;
  left:185px;
  top:361px;
  width:246px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#418CC8;
}
#u4929 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u4930_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u4930 {
  position:absolute;
  left:350px;
  top:470px;
  width:84px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u4931 {
  position:absolute;
  left:10px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u4932_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u4932 {
  position:absolute;
  left:350px;
  top:500px;
  width:84px;
  height:37px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u4933 {
  position:absolute;
  left:10px;
  top:10px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4935_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u4935 {
  position:absolute;
  left:185px;
  top:435px;
  width:28px;
  height:16px;
  font-size:11px;
}
#u4936 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u4937 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4938_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#282828;
}
#u4938 {
  position:absolute;
  left:214px;
  top:434px;
  width:70px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#282828;
}
#u4939 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u4940_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:3px;
}
#u4940 {
  position:absolute;
  left:271px;
  top:442px;
  width:7px;
  height:3px;
  color:#282828;
}
#u4941 {
  position:absolute;
  left:2px;
  top:-6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4942_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u4942 {
  position:absolute;
  left:350px;
  top:536px;
  width:84px;
  height:37px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u4943 {
  position:absolute;
  left:10px;
  top:10px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4944_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u4944 {
  position:absolute;
  left:382px;
  top:512px;
  width:21px;
  height:13px;
  color:#FFFFFF;
}
#u4945 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4946_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u4946 {
  position:absolute;
  left:382px;
  top:548px;
  width:21px;
  height:13px;
  color:#FFFFFF;
}
#u4947 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4948_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u4948 {
  position:absolute;
  left:185px;
  top:470px;
  width:165px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u4949 {
  position:absolute;
  left:10px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u4950_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u4950 {
  position:absolute;
  left:185px;
  top:500px;
  width:165px;
  height:37px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u4951 {
  position:absolute;
  left:10px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
#u4952_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u4952 {
  position:absolute;
  left:255px;
  top:404px;
  width:60px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u4953 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u4954_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u4954 {
  position:absolute;
  left:185px;
  top:404px;
  width:60px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u4955 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u4956_img {
  position:absolute;
  left:0px;
  top:0px;
  width:833px;
  height:2px;
}
#u4956 {
  position:absolute;
  left:185px;
  top:423px;
  width:832px;
  height:1px;
}
#u4957 {
  position:absolute;
  left:2px;
  top:-8px;
  width:828px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4958_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u4958 {
  position:absolute;
  left:185px;
  top:536px;
  width:165px;
  height:37px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u4959 {
  position:absolute;
  left:10px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
#u4961_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 106, 195, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#F2F2F2;
}
#u4961 {
  position:absolute;
  left:949px;
  top:435px;
  width:53px;
  height:20px;
  font-size:11px;
  color:#F2F2F2;
}
#u4961_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#F2F2F2;
}
#u4961.mouseOver {
}
#u4962 {
  position:absolute;
  left:15px;
  top:2px;
  width:23px;
  white-space:nowrap;
}
#u4964_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 106, 195, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#F2F2F2;
}
#u4964 {
  position:absolute;
  left:879px;
  top:435px;
  width:53px;
  height:20px;
  font-size:11px;
  color:#F2F2F2;
}
#u4964_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#F2F2F2;
}
#u4964.mouseOver {
}
#u4965 {
  position:absolute;
  left:15px;
  top:2px;
  width:23px;
  white-space:nowrap;
}
#u4966_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u4966 {
  position:absolute;
  left:325px;
  top:403px;
  width:60px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u4967 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u4968_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u4968 {
  position:absolute;
  left:302px;
  top:435px;
  width:28px;
  height:16px;
  font-size:11px;
}
#u4969 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u4970 {
  position:absolute;
  left:333px;
  top:434px;
  width:70px;
  height:17px;
}
#u4970_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
}
#u4970_input:disabled {
  color:grayText;
}
#u4971_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u4971 {
  position:absolute;
  left:350px;
  top:571px;
  width:84px;
  height:37px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u4972 {
  position:absolute;
  left:10px;
  top:10px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4973_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u4973 {
  position:absolute;
  left:382px;
  top:583px;
  width:21px;
  height:13px;
  color:#FFFFFF;
}
#u4974 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4975_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u4975 {
  position:absolute;
  left:185px;
  top:571px;
  width:165px;
  height:37px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u4976 {
  position:absolute;
  left:10px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
#u4978_div {
  position:absolute;
  left:0px;
  top:0px;
  width:110px;
  height:520px;
  background:inherit;
  background-color:rgba(240, 242, 245, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4978 {
  position:absolute;
  left:60px;
  top:853px;
  width:110px;
  height:520px;
}
#u4979 {
  position:absolute;
  left:2px;
  top:252px;
  width:106px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4980 {
  position:absolute;
  left:61px;
  top:893px;
  width:108px;
  height:160px;
}
#u4980_menu {
  position:absolute;
  left:-3px;
  top:-3px;
  width:114px;
  height:166px;
  -webkit-transform:rotate(NaNdeg);
  -moz-transform:rotate(NaNdeg);
  -ms-transform:rotate(NaNdeg);
  transform:rotate(NaNdeg);
}
#u4981 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:165px;
}
#u4982_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u4982 {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  font-family:'.AppleSystemUIFont';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u4983 {
  position:absolute;
  left:2px;
  top:14px;
  width:104px;
  word-wrap:break-word;
}
#u4984_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u4984 {
  position:absolute;
  left:0px;
  top:40px;
  width:108px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u4985 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u4986_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u4986 {
  position:absolute;
  left:0px;
  top:80px;
  width:108px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u4987 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u4988_img {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
}
#u4988 {
  position:absolute;
  left:0px;
  top:120px;
  width:108px;
  height:40px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  color:#303133;
}
#u4989 {
  position:absolute;
  left:2px;
  top:11px;
  width:104px;
  word-wrap:break-word;
}
#u4990_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:40px;
  background:inherit;
  background-color:rgba(70, 150, 231, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4990 {
  position:absolute;
  left:169px;
  top:853px;
  width:900px;
  height:40px;
}
#u4991 {
  position:absolute;
  left:2px;
  top:12px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4992 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u4993_div {
  position:absolute;
  left:0px;
  top:0px;
  width:111px;
  height:34px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  color:#FFFFFF;
}
#u4993 {
  position:absolute;
  left:951px;
  top:857px;
  width:111px;
  height:34px;
  color:#FFFFFF;
}
#u4994 {
  position:absolute;
  left:2px;
  top:10px;
  width:107px;
  word-wrap:break-word;
}
#u4995_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:10px;
}
#u4995 {
  position:absolute;
  left:1036px;
  top:869px;
  width:14px;
  height:10px;
}
#u4996 {
  position:absolute;
  left:2px;
  top:-3px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4997_img {
  position:absolute;
  left:0px;
  top:0px;
  width:14px;
  height:16px;
}
#u4997 {
  position:absolute;
  left:962px;
  top:866px;
  width:14px;
  height:16px;
}
#u4998 {
  position:absolute;
  left:2px;
  top:0px;
  width:10px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4999_div {
  position:absolute;
  left:0px;
  top:0px;
  width:108px;
  height:40px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u4999 {
  position:absolute;
  left:61px;
  top:854px;
  width:108px;
  height:40px;
}
#u5000 {
  position:absolute;
  left:2px;
  top:12px;
  width:104px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5001_img {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  height:18px;
}
#u5001 {
  position:absolute;
  left:75px;
  top:862px;
  width:39px;
  height:18px;
  color:#303133;
}
#u5002 {
  position:absolute;
  left:0px;
  top:0px;
  width:39px;
  white-space:nowrap;
}
#u5003_div {
  position:absolute;
  left:0px;
  top:0px;
  width:900px;
  height:480px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(215, 215, 215, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u5003 {
  position:absolute;
  left:169px;
  top:893px;
  width:900px;
  height:480px;
}
#u5004 {
  position:absolute;
  left:2px;
  top:232px;
  width:896px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5005_img {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  height:22px;
}
#u5005 {
  position:absolute;
  left:184px;
  top:902px;
  width:246px;
  height:22px;
  font-family:'Arial-BoldMT', 'Arial Bold', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:16px;
  color:#418CC8;
}
#u5006 {
  position:absolute;
  left:0px;
  top:0px;
  width:246px;
  word-wrap:break-word;
}
#u5007_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5007 {
  position:absolute;
  left:349px;
  top:1011px;
  width:84px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5008 {
  position:absolute;
  left:10px;
  top:7px;
  width:64px;
  word-wrap:break-word;
}
#u5009_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5009 {
  position:absolute;
  left:349px;
  top:1041px;
  width:84px;
  height:37px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5010 {
  position:absolute;
  left:10px;
  top:10px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5012_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5012 {
  position:absolute;
  left:295px;
  top:976px;
  width:28px;
  height:16px;
  font-size:11px;
}
#u5013 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u5014 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5015_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#282828;
}
#u5015 {
  position:absolute;
  left:324px;
  top:975px;
  width:70px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#282828;
}
#u5016 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u5017_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:3px;
}
#u5017 {
  position:absolute;
  left:381px;
  top:983px;
  width:7px;
  height:3px;
  color:#282828;
}
#u5018 {
  position:absolute;
  left:2px;
  top:-6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5019_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5019 {
  position:absolute;
  left:349px;
  top:1077px;
  width:84px;
  height:37px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5020 {
  position:absolute;
  left:10px;
  top:10px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5021_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u5021 {
  position:absolute;
  left:381px;
  top:1053px;
  width:21px;
  height:13px;
  color:#FFFFFF;
}
#u5022 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5023_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u5023 {
  position:absolute;
  left:381px;
  top:1089px;
  width:21px;
  height:13px;
  color:#FFFFFF;
}
#u5024 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5025_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:30px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5025 {
  position:absolute;
  left:184px;
  top:1011px;
  width:165px;
  height:30px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5026 {
  position:absolute;
  left:10px;
  top:7px;
  width:145px;
  word-wrap:break-word;
}
#u5027_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5027 {
  position:absolute;
  left:184px;
  top:1041px;
  width:165px;
  height:37px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5028 {
  position:absolute;
  left:10px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
#u5029_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u5029 {
  position:absolute;
  left:254px;
  top:945px;
  width:60px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u5030 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u5031_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u5031 {
  position:absolute;
  left:184px;
  top:945px;
  width:60px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u5032 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u5033_img {
  position:absolute;
  left:0px;
  top:0px;
  width:833px;
  height:2px;
}
#u5033 {
  position:absolute;
  left:184px;
  top:964px;
  width:832px;
  height:1px;
}
#u5034 {
  position:absolute;
  left:2px;
  top:-8px;
  width:828px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5035_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5035 {
  position:absolute;
  left:184px;
  top:1077px;
  width:165px;
  height:37px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5036 {
  position:absolute;
  left:10px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
#u5038_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 106, 195, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#F2F2F2;
}
#u5038 {
  position:absolute;
  left:948px;
  top:976px;
  width:53px;
  height:20px;
  font-size:11px;
  color:#F2F2F2;
}
#u5038_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#F2F2F2;
}
#u5038.mouseOver {
}
#u5039 {
  position:absolute;
  left:15px;
  top:2px;
  width:23px;
  white-space:nowrap;
}
#u5041_div {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 106, 195, 1);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#F2F2F2;
}
#u5041 {
  position:absolute;
  left:878px;
  top:976px;
  width:53px;
  height:20px;
  font-size:11px;
  color:#F2F2F2;
}
#u5041_div.mouseOver {
  position:absolute;
  left:0px;
  top:0px;
  width:53px;
  height:20px;
  background:inherit;
  background-color:rgba(0, 153, 255, 0.0980392156862745);
  border:none;
  border-radius:3px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
  color:#F2F2F2;
}
#u5041.mouseOver {
}
#u5042 {
  position:absolute;
  left:15px;
  top:2px;
  width:23px;
  white-space:nowrap;
}
#u5043_div {
  position:absolute;
  left:0px;
  top:0px;
  width:60px;
  height:20px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-bottom:0px;
  border-radius:0px;
  border-bottom-right-radius:0px;
  border-bottom-left-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u5043 {
  position:absolute;
  left:324px;
  top:944px;
  width:60px;
  height:20px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
}
#u5044 {
  position:absolute;
  left:2px;
  top:2px;
  width:56px;
  word-wrap:break-word;
}
#u5045_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5045 {
  position:absolute;
  left:412px;
  top:976px;
  width:28px;
  height:16px;
  font-size:11px;
}
#u5046 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u5047 {
  position:absolute;
  left:443px;
  top:975px;
  width:70px;
  height:17px;
}
#u5047_input {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:17px;
  font-family:'ArialMT', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-decoration:none;
  color:#000000;
}
#u5047_input:disabled {
  color:grayText;
}
#u5048_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5048 {
  position:absolute;
  left:349px;
  top:1112px;
  width:84px;
  height:37px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5049 {
  position:absolute;
  left:10px;
  top:10px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5050_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u5050 {
  position:absolute;
  left:381px;
  top:1124px;
  width:21px;
  height:13px;
  color:#FFFFFF;
}
#u5051 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5052_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5052 {
  position:absolute;
  left:184px;
  top:1112px;
  width:165px;
  height:37px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5053 {
  position:absolute;
  left:10px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
#u5054_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5054 {
  position:absolute;
  left:349px;
  top:1147px;
  width:84px;
  height:37px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5055 {
  position:absolute;
  left:10px;
  top:10px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5057_div {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  height:16px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-size:11px;
}
#u5057 {
  position:absolute;
  left:523px;
  top:976px;
  width:28px;
  height:16px;
  font-size:11px;
}
#u5058 {
  position:absolute;
  left:0px;
  top:0px;
  width:28px;
  word-wrap:break-word;
}
#u5059 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u5060_div {
  position:absolute;
  left:0px;
  top:0px;
  width:70px;
  height:18px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(220, 223, 230, 1);
  border-radius:4px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#282828;
}
#u5060 {
  position:absolute;
  left:552px;
  top:975px;
  width:70px;
  height:18px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:10px;
  color:#282828;
}
#u5061 {
  position:absolute;
  left:2px;
  top:2px;
  width:66px;
  word-wrap:break-word;
}
#u5062_img {
  position:absolute;
  left:0px;
  top:0px;
  width:7px;
  height:3px;
}
#u5062 {
  position:absolute;
  left:609px;
  top:983px;
  width:7px;
  height:3px;
  color:#282828;
}
#u5063 {
  position:absolute;
  left:2px;
  top:-6px;
  width:3px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5064_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u5064 {
  position:absolute;
  left:381px;
  top:1159px;
  width:21px;
  height:13px;
  color:#FFFFFF;
}
#u5065 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5066_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5066 {
  position:absolute;
  left:184px;
  top:1147px;
  width:165px;
  height:37px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5067 {
  position:absolute;
  left:10px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
#u5068_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5068 {
  position:absolute;
  left:349px;
  top:1182px;
  width:84px;
  height:37px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5069 {
  position:absolute;
  left:10px;
  top:10px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5070_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u5070 {
  position:absolute;
  left:381px;
  top:1194px;
  width:21px;
  height:13px;
  color:#FFFFFF;
}
#u5071 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5072_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5072 {
  position:absolute;
  left:184px;
  top:1182px;
  width:165px;
  height:37px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5073 {
  position:absolute;
  left:10px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
#u5074_div {
  position:absolute;
  left:0px;
  top:0px;
  width:84px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5074 {
  position:absolute;
  left:349px;
  top:1219px;
  width:84px;
  height:37px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5075 {
  position:absolute;
  left:10px;
  top:10px;
  width:64px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5076_img {
  position:absolute;
  left:0px;
  top:0px;
  width:21px;
  height:13px;
}
#u5076 {
  position:absolute;
  left:381px;
  top:1231px;
  width:21px;
  height:13px;
  color:#FFFFFF;
}
#u5077 {
  position:absolute;
  left:2px;
  top:-2px;
  width:17px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5078_div {
  position:absolute;
  left:0px;
  top:0px;
  width:165px;
  height:37px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(174, 174, 174, 1);
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5078 {
  position:absolute;
  left:184px;
  top:1219px;
  width:165px;
  height:37px;
  font-family:'PingFangTC-Regular', 'PingFang TC';
  font-weight:400;
  font-style:normal;
  font-size:11px;
  text-align:left;
}
#u5079 {
  position:absolute;
  left:10px;
  top:10px;
  width:145px;
  word-wrap:break-word;
}
